# Question 1

In [1]:
import math
def circleArea(radius):
    return math.pi * (radius ** 2)

In [2]:
print(circleArea(5))

78.53981633974483

# Question 2

In [3]:
def multiples(number):
    for i in range(1, 6):
        print(f"{i} times {number} is {i*number}")

In [4]:
multiples(2)

1 times 2 is 2
2 times 2 is 4
3 times 2 is 6
4 times 2 is 8
5 times 2 is 10

# Question 3

In [5]:
def logIn():
    userName = input("What is your User Name")
    password = input("What is your Password")
    if userName in password:
        print("Invalid")
    else:
        print("Valid")

In [9]:
logIn()

What is your User Name test
What is your Password watts

Valid

In [11]:
logIn()

What is your User Name e
What is your Password e

Invalid

# Question 4

In [10]:
def findDigits(number, digits=1):
    if number//10 ==0:
        return digits
    else:
        number = number // 10
        digits += 1
        return findDigits(number, digits)

In [11]:
print(findDigits(234))

3

In [12]:
print(findDigits(12345))

5

In [13]:
print(findDigits(7))

1

In [14]:
print(findDigits)

<function findDigits at 0x000001FC67195040>

# Question 5

In [15]:
import pandas as pd
import sys
age = pd.Series([10, 11, 12])
name = pd.Series(["Sujeet", "Sameer", "Sumit"])

In [16]:
df = pd.DataFrame({"Age": age, "Name": name})

In [17]:
print(df.to_string(index=False))

 Age   Name
  10 Sujeet
  11 Sameer
  12  Sumit

In [18]:
print(df.to_csv(sys.stdout,header=False,index=False))

10,Sujeet
11,Sameer
12,Sumit
None

In [19]:
df

   Age    Name
0   10  Sujeet
1   11  Sameer
2   12   Sumit

In [20]:
df.T

           0       1      2
Age       10      11     12
Name  Sujeet  Sameer  Sumit

# Question 6

In [21]:
def fact(i):
    i=i+10
    return i



def fact2(i):
    i= i-10
    
    return i


def fun(f1, f2, x):
    y  =0
    z=0
    if x<1:
       y =  f1(x)
        
    else:
      z =  f2(x)
      
    print('z=', z, 'x=', x)
    print('y=', y, 'x=', x)

In [22]:
fun(fact, fact2, 6)
fun(fact, fact2, -1)

z= -4 x= 6
y= 0 x= 6
z= 0 x= -1
y= 9 x= -1

In [23]:
fact(2)

12